* {
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

:root {
    --black-color: #000;
    --yellow-color: #F9C600
}

.headercontent {
    display: flex;
    flex-direction: column
}

.header {
    max-width: 1372px;
    height: 3000px;
    margin-top: 15.99px;
    margin-left: 32px;
}

.topbar {
    display: flex;
    height: 83px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 36px
}

.menu1, .menu2 {
    display: flex;
    align-items: center
}

.menu1 {
    column-gap: 56px
}

.menu2 {
    column-gap: 24px
}

.menu_item {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color)
}

.button {
    background: #0b2330;
    color: white;
    height: 54px;
    width: 163px;
    border-radius: 4px;
    margin-right: 32px;
    cursor: pointer;
    box-shadow: var(--black-color);
    box-sizing: border-box;
}

.vector {
    width: 7px;
    height: 3px;
    display: flex;
    align-items: center;
    margin-left: -50px;
    color: var(--black-color);
}

.title {
    color: #0B2330;
    width: 456px;
    height: 256px;
    font-size: 60px;
    top: -6px;
    line-height: 64px;
    letter-spacing: 1.6px;
    margin-bottom: 32px;
}

.text {
    color: #375361;
    width: 435px;
    height: 96px;
    margin-top: 0;
    line-height: 32px;
    size: 22px;
    font-size: 22px
}

.ybttn {
    height: 54px;
    width: 163px;
    background: #F9C600;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 0

}

.wbttn {
    background: white;
    width: 156px;
    height: 54px;
    border: 1px solid #0B2330;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 16px
}

.contentmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: normal;
}

.yellowbox {
    background: #F9C600;
    width: 600px;
    height: 886px;
    margin-right: 0;
    position: absolute;
}

.img1 {
    width: 608px;
    height: 541px;
    position: relative;
    margin-left: -110px;
    margin-top: 172px;
    margin-right: 102px;
}

.title2 {
    width: 547px;
    height: 96px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    margin: 362px 446px 0 447px;
    color: #0B2330
}

.icons {
    width: 1100px;
    margin-right: 175px;
    margin-left: 143px;
    margin-top: 59px
}

.iconS {
    height: 400px;
    column-gap: 82px;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.bckgrnd {
    background: #51cdbb;
    width: 1376px;
    height: 494px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    margin-top: 198px
}

.picture {
    width: 678px;
    height: 382px;
    position: relative;
    margin: 56px 698px 56px 0
}

.title3 {
    color: #0B2330;
    width: 557px;
    height: 120px;
    font-size: 34px;
    line-height: 40px;
    position: absolute;
    letter-spacing: 0.34px;
    margin: 114px 121px 260px 698px
}

.text3 {
    color: #0B2330;
    width: 533px;
    position: absolute;
    height: 64px;
    margin: 249px 145px 161px 698px;
    font-size: 22px;
    line-height: 32px
}

.part4 {
    display: flex;
    flex-direction: column;
    align-items: center
}

.title4 {
    color: #0B2330;
    width: 711px;
    height: 80px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    margin: 191px 364px 0 365px
}

.pic {
    width: 911px;
    height: 528px;
    text-align: center;
    margin: 57px 264px 0 265px
}

.yb2 {
    margin: 113px 639px 0 638px
}

.backgrnd {
    background: #bc78ef;
    width: 1260px;
    height: 537px;
    margin: 160px 32px 0 116px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row
}

.pict {
    width: 562px;
    height: 409px;
    position: relative;
    margin: 64px 814px 64px -116px;
}

.title5a {
    color: #0B2330;
    width: 485px;
    height: 192px;
    font-size: 42px;
    position: absolute;
    line-height: 48px;
    letter-spacing: 0.42px;
    margin: 103px 193px 242px 582px
}

.text5a {
    color: #0B2330;
    width: 550px;
    height: 56px;
    position: absolute;
    font-size: 17px;
    line-height: 28px;
    margin: 334px 128px 147px 582px
}

.s {
    color: #6A7981;
    width: 94px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    margin: 196px 1198px 0 116px
}

.title5b {
    color: #0B2330;
    width: 593px;
    height: 144px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    margin: 13px 699px 0 116px
}

.text5b {
    color: #375361;
    width: 500px;
    height: 32px;
    font-size: 22px;
    line-height: 32px;
    margin: 26px 792px 0 116px
}
.txtwithmd {
    margin: 226px 0 0 116px
}

.label1 {
    background: #bc78ef;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin-top: 226px;
}


.title6 {
    color: #0B2330;
    width: max-content;
    height: 40px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    margin-top: 35px
}

.text6 {
    color: #375361;
    width: 500px;
    height: 84px;
    font-size: 17px;
    line-height: 28px;
    margin-top: 29px
}

.btn6 {
    background: white;
    width: 144px;
    height: 54px;
    border: 1px solid #0B2330;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 64px}