.a {
    background: #9d9d9d;
    width: 400px;
    height: 50px;
    text-align: center;
    padding-top: 23px;
    margin: 5px
}

.b {
    background: #9d9d9d;
    width: 270px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding-top: 50px
}

.c {
    background: #9d9d9d;
    width: 120px;
    height: 100px;
    text-align: center;
    margin: 5px;
    padding-top: 50px
}
#container1{display: flex;
flex-direction: row}

@media screen and (min-width:0px) and (max-width:400px) {
    #container1{display: flex;
    flex-direction: column}
    .a {
        width: 97%
    }
.b{width: 97%}
    .c {
        width: 97%;
        height: 50px
    }
}